/*************************************  Nav-bar*/
/*CSS FILE*/
/*Colour Palatte:purple(#4F328A), white(#ffffff), dark(#26272b)*/
#nav-bar{
	position: sticky;
  font-size:26px;
  margin-top:0px;

}
.navbar-brand img{
	height: 50px;/* size of img*/
	padding-left: 40px;/* pushes img right*/
  padding-right: 5px;/* pushes page links right of img*/
}

.w3-xxlarge{
	padding-right: 50px

}

.nav-link{
margin-top: auto;
}
.sidenav {
  position: fixed;
  z-index: 1;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
}
/* pushes search bar left*/
.form-inline{
  padding-right: 200px;
}
