<record>
	<!-- FOOTBE LOGOS BY STAM @ FMSCOUT.COM -->

	<boolean id="preload" value="false"/>
	<boolean id="amap" value="false"/>

	<list id="maps">
		<record from="114" to="graphics/pictures/nation/114/logo"/>
		<record from="116" to="graphics/pictures/nation/116/logo"/>
		<record from="119" to="graphics/pictures/nation/119/logo"/>
		<record from="133" to="graphics/pictures/nation/133/logo"/>
		<record from="135" to="graphics/pictures/nation/135/logo"/>
		<record from="1435" to="graphics/pictures/nation/1435/logo"/>
		<record from="16" to="graphics/pictures/nation/16/logo"/>
		<record from="1649" to="graphics/pictures/nation/1649/logo"/>
		<record from="1651" to="graphics/pictures/nation/1651/logo"/>
		<record from="1653" to="graphics/pictures/nation/1653/logo"/>
		<record from="1656" to="graphics/pictures/nation/1656/logo"/>
		<record from="1657" to="graphics/pictures/nation/1657/logo"/>
		<record from="214394" to="graphics/pictures/nation/214394/logo"/>
		<record from="217945" to="graphics/pictures/nation/217945/logo"/>
		<record from="24" to="graphics/pictures/nation/24/logo"/>
		<record from="34" to="graphics/pictures/nation/34/logo"/>
		<record from="366" to="graphics/pictures/nation/366/logo"/>
		<record from="379" to="graphics/pictures/nation/379/logo"/>
		<record from="38" to="graphics/pictures/nation/38/logo"/>
		<record from="382" to="graphics/pictures/nation/382/logo"/>
		<record from="41" to="graphics/pictures/nation/41/logo"/>
		<record from="51" to="graphics/pictures/nation/51/logo"/>
		<record from="62002127" to="graphics/pictures/nation/62002127/logo"/>
		<record from="752" to="graphics/pictures/nation/752/logo"/>
		<record from="753" to="graphics/pictures/nation/753/logo"/>
		<record from="754" to="graphics/pictures/nation/754/logo"/>
		<record from="755" to="graphics/pictures/nation/755/logo"/>
		<record from="756" to="graphics/pictures/nation/756/logo"/>
		<record from="757" to="graphics/pictures/nation/757/logo"/>
		<record from="758" to="graphics/pictures/nation/758/logo"/>
		<record from="759" to="graphics/pictures/nation/759/logo"/>
		<record from="760" to="graphics/pictures/nation/760/logo"/>
		<record from="761" to="graphics/pictures/nation/761/logo"/>
		<record from="762" to="graphics/pictures/nation/762/logo"/>
		<record from="763" to="graphics/pictures/nation/763/logo"/>
		<record from="764" to="graphics/pictures/nation/764/logo"/>
		<record from="765" to="graphics/pictures/nation/765/logo"/>
		<record from="766" to="graphics/pictures/nation/766/logo"/>
		<record from="767" to="graphics/pictures/nation/767/logo"/>
		<record from="768" to="graphics/pictures/nation/768/logo"/>
		<record from="769" to="graphics/pictures/nation/769/logo"/>
		<record from="770" to="graphics/pictures/nation/770/logo"/>
		<record from="771" to="graphics/pictures/nation/771/logo"/>
		<record from="772" to="graphics/pictures/nation/772/logo"/>
		<record from="773" to="graphics/pictures/nation/773/logo"/>
		<record from="774" to="graphics/pictures/nation/774/logo"/>
		<record from="775" to="graphics/pictures/nation/775/logo"/>
		<record from="776" to="graphics/pictures/nation/776/logo"/>
		<record from="777" to="graphics/pictures/nation/777/logo"/>
		<record from="778" to="graphics/pictures/nation/778/logo"/>
		<record from="779" to="graphics/pictures/nation/779/logo"/>
		<record from="780" to="graphics/pictures/nation/780/logo"/>
		<record from="781" to="graphics/pictures/nation/781/logo"/>
		<record from="782" to="graphics/pictures/nation/782/logo"/>
		<record from="783" to="graphics/pictures/nation/783/logo"/>
		<record from="784" to="graphics/pictures/nation/784/logo"/>
		<record from="785" to="graphics/pictures/nation/785/logo"/>
		<record from="786" to="graphics/pictures/nation/786/logo"/>
		<record from="787" to="graphics/pictures/nation/787/logo"/>
		<record from="788" to="graphics/pictures/nation/788/logo"/>
		<record from="789" to="graphics/pictures/nation/789/logo"/>
		<record from="790" to="graphics/pictures/nation/790/logo"/>
		<record from="791" to="graphics/pictures/nation/791/logo"/>
		<record from="792" to="graphics/pictures/nation/792/logo"/>
		<record from="793" to="graphics/pictures/nation/793/logo"/>
		<record from="794" to="graphics/pictures/nation/794/logo"/>
		<record from="795" to="graphics/pictures/nation/795/logo"/>
		<record from="796" to="graphics/pictures/nation/796/logo"/>
		<record from="797" to="graphics/pictures/nation/797/logo"/>
		<record from="798" to="graphics/pictures/nation/798/logo"/>
		<record from="799" to="graphics/pictures/nation/799/logo"/>
		<record from="800" to="graphics/pictures/nation/800/logo"/>
		<record from="801" to="graphics/pictures/nation/801/logo"/>
		<record from="802" to="graphics/pictures/nation/802/logo"/>
	</list>
</record>